.idea/*
build/*
dist/*
venv/*
venv_old/*
deployment/*
hdf5_test_files/*
filter_presets/*

davit/.idea/*
davit/__pycache__/*
davit/deprecated/*
davit/models/__pycache__/*
davit/tests/__pycache__/*
davit/utils/__pycache__/*
davit/analysis/__pycache__/*
davit/views/__pycache__/*
davit.egg-info/*

davit/analysis/clustering/__pycache__/*

davit/views/analysis/__pycache__/*
davit/views/general/__pycache__/*
davit/views/visualization/__pycache__/*
davit/views/selection/__pycache__/*
